<!-- Provided by 'templates/footer.twig' -->
<div class="container">
    <div class="row widgets-container">
        {{ footer_widgets }}
    </div>
</div>

<div class="legals">
    <p>
        {{ site.name }}
        -
        {{"now"|date('Y')}}<span></span>
        -
        <a href="http://abcoseattle.com">Ardor Brio Company</a>
    </p>
</div>
