{% extends "base.twig" %}

{% block content %}
  <!-- Provided by 'templates/page-plugin.twig' -->
  <div class="container content-wrapper">
    {{content}}
  </div><!-- /content-wrapper -->
{% endblock %}
